.container {
  margin-top: 10vh;
}

.main {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px 24px;
  padding-bottom: 200px;
}
.itemWrapper {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 12px 16px;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}